body/*non-veg pizza*/
{
	margin:0px;
	padding:0px;
	font-family:sans-serif;
    background-image:url(pic9.png);
	background-repeat:no-repeat;
	height:90%;
	background-size:cover;
}
#header
{
	background-image:url(pic1.png);
	height:95vh;
	background-size:cover;
	background-repeat:no-repeat;
}
h2
{
	color:white;
	font-size:30px;
	text-align:center;
	position:relative;
	top:25px;
	left:450px;
    right:400px;
    width:500px;
    height:80px;
    padding:5px;
 }
 .menu
{
	float:right;
	list-style:none;
	margin-top:30px;
	font-size:25px;
	margin-right:140px;
}
nav
{
	position:relative;
	float:right;
	position:relative;
	bottom:510px;
}
nav ul
{
	margin:0px;
	padding:0px;
	display:flex;
	border:2px solid black;
	background-color:rgb(128,128,0);
	
}
nav ul li
{
	list-style:none;
}
nav ul li a
{
	display:block;
	padding:10px 20px;
	text-transform:uppercase;
	font-weight:bold;
	text-decoration:none;
	color:white;
	
}
nav ul li a:hover
{
    background-color:rgb(192,192,192);
    color:black;
}
nav ul li ul
{
	display:block;
	background-color:rgb(144,144,144);
	min-width:250px;
	position:absolute;
	margin-top:1px;
	box-shadow:0 2px 5px rgba(0,0,0,.5);
	opacity:0;
	visibility: hidden;
	transition: .5s;
	transform:translateY(40px);
}
nav ul li:hover ul
{
	opacity:1;
	visibility:visible;
	transform:translateY(0px);
}

nav ul li ul li a
{
	padding:10px;
}
.t1
{
    text-align:center;
	font-size:40px;
	text-transform:uppercase;
	color:black;
	margin-right:10px;
	font-weight:bold;
	position:relative;
	bottom:50px;
	
}
.column 
{
   float:left;
   padding:10px;
   position:relative;
   bottom:2px;
   margin-left:90px;
}
.button
{
	width:150px;
	background-color:black;
	font-size:25px;
	color:white;
	margin-left:75px;
	position:relative;
    bottom:10px;
	
}
button:hover
{
	background-color:green;
}
p
{
	color:rgb(65,0,130);
	margin-left:90px;
	font-weight:bold;
	font-size:20px;
}
.box1
{
    height:65%;
    width:103%;
    border:5px solid red;
    border-radius:5px;
}
.box
{
	height:9%;
    width:30%;
    border:5px solid yellow ;
    border-radius:5px;
	margin-left:500px;
	background-color:white;
}
p1
{
	color:black;
	font-size:small;
	position:relative;
	left:25px;
	text-align:center;
	font-weight:bold;
}
img
{
	position:relative;
	left:10px;
}
.a1 p
{
	color:rgb(65,0,130);
	margin-left:70px;
	font-weight:bold;
	font-size:20px;
}
.a2 p 
{
	color:rgb(65,0,130);
	margin-left:70px;
	font-weight:bold;
	font-size:20px;
}
.a2 p1
{
	color:black;
	font-size:small;
	position:relative;
	left:60px;
	text-align:center;
	font-weight:bold;
}
.a3 p1
{
	color:black;
	font-size:small;
	position:relative;
	left:30px;
	text-align:center;
	font-weight:bold;
	list-style:none;
}
.a3 p 
{
	color:rgb(65,0,130);
	margin-left:80px;
	font-weight:bold;
	font-size:20px;
}
.a4 p 
{
	color:rgb(65,0,130);
	margin-left:70px;
	font-weight:bold;
	font-size:20px;
}
.a5 p
{
   color:rgb(65,0,130);
	margin-left:70px;
	font-weight:bold;
	font-size:20px;
}
.a5 p1
{
	color:black;
	font-size:small;
	position:relative;
	left:80px;
	text-align:center;
	font-weight:bold;
}
.a6 p
{
   color:rgb(65,0,130);
	margin-left:50px;
	font-weight:bold;
	font-size:20px;
}
.a4 p1
{
	color:black;
	font-size:small;
	position:relative;
	left:60px;
	text-align:center;
	font-weight:bold;
}
.a7 p 
{
	color:rgb(65,0,130);
	margin-left:5px;
	font-weight:bold;
	font-size:20px;
}
.a7 p1
{
	color:black;
	font-size:small;
	position:relative;
	left:50px;
	text-align:center;
	font-weight:bold;
}

